body {
    background-color: #f6f6f6;
    margin: auto;
    max-width: 2000px;
    width: 100%;


}


main {
    background-color: white;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
    margin-left: 10%;
    margin-top: 5%;
    padding: 2rem 1rem;
}

section {
    display: flex;
    flex-direction: row;
}

header>h1 {
    font-size: 1.8em;
}

header>h1>span {
    font-size: 1.2rem;
    font-style: italic;
}

header>nav {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

nav.professional-links {
    display: flex;
    flex-direction: row;
    gap: 5rem;

}

nav.professional-links>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
}

b {
    font-weight: bold;
}

p {
    margin: .5rem 0;
}






.bio-box {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5rem 0 0.5rem 1rem;
    padding: .5rem .75rem;
    font-size: 88%;
    line-height: 1.5em;
    width: 22rem;
}

.bio-box h2 {
    text-align: center;
    margin: .2rem;
    width: 100%;
}

.bio-box th {
    text-align: left;

}

.bio-box td {
    padding-left: 1rem;
    width: 60%;
}

.bio-box img {
    margin-bottom: 1rem;
    width: 80%;
    display: block;
    margin: .5rem auto 1rem;
}



@media only screen and (max-width: 480px) {
    body {
        background-color: blue;
    }

}

@media only screen and (max-width: 769px) {
    body {
        background-color: green;
    }

}



/* @media only screen and (min-width: 769px) {
    body {
        background-color: yellow;
    }

} */